<div class="container overflow-hidden h-100 w-100 bg-warning">
  <h1 class="mb-0">Producto: {{product.title}}</h1>
  <div
    class="d-flex w-100 h-100 justify-content-center align-items-center mt-0"
  >

    <div class="card mb-3 w-75 h-75">
      <div class="row g-0 h-100">
        <div
          class="col-md-4 h-100 d-flex justify-content-center align-items-center"
        >
          <img
            src={{product.thumbnail}}
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div
          class="col-md-8 h-100 d-flex justify-content-center align-items-center"
        >
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">{{product.stock}}</p>
            <button
              id="{id}"
              class="btn btn-link w-100 d-flex justify-content-center text-decoration-none"
            >
              <a
                href={{this.id}}
                class="btn text-light bg-dark d-flex justify-content-center"
              >Agregar al carrito x
                {{this.price}}
              </a>

            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>